<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logar</h1>
    <div>
        <form action="{{logar}}" method="POST">
            <label>Usuário</label>
            <input type="text" name="login_usuario">
            <label>Senha</label>
            <input type="text" name="login_senha">
        <button>Adicionar</button>
    </form>
    </div>
</body>
</html>